# =========================

# Dependencies

# =========================

node_modules/

# =========================

# Build output

# =========================

dist/

# =========================

# Logs

# =========================

logs/
*.log

# =========================

# Temp files

# =========================

tmp/
temp/
uploads/

# =========================

# TypeScript

# =========================

*.tsbuildinfo

# =========================

# Database local files

# =========================

*.db
*.sqlite

# =========================

# Testing

# =========================

coverage/
